
.box {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#3e3e3e;
    padding:20px;
    border-style:solid;
    border-radius:10px;
    width:35%;
}

.boxes{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.inputs {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.top {
    height:20%;
}

.mid {
    height: 60%;
    padding-top: 30px;
}

.bot {
    padding:20px 0px;
    display:flex;
    justify-content:center;
}

#knap {
    color: white;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--main-lilla);
}
    
#knap:hover {
    background-color: var(--penta-lilla);
    cursor: pointer;
}