@using P3TournamentPlanner.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using P3TournamentPlanner.Client.Services;
@attribute [Authorize]
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject MessageService MessageService
@page "/dinmor"

<div class="placement">
    <div class="box">
        <div class="top">
            <h2>Reset Password</h2>
            <hr  style=" color:white;"/>
        </div>
        <div class="mid">
            <Form>
                <div class="boxes">
                    <label>Email</label>
                    <input class="inputs" type="text" name="email" value="" placeholder="Your email.."/>
                </div>
                <div class="boxes">
                    <label>Old Password</label>
                    <input class="inputs" type="text" name="oldPassword" value="" placeholder="Your old password.." />
                </div>
                <div class="boxes">
                    <label> New Password</label>
                    <input class="inputs" type="text" name="newPassword" value="" placeholder=" Your new password.."/>
                </div>
                <div class="boxes">
                    <label> Confirm Password</label>
                    <input class="inputs" type="text" name="confirmPassword" value="" placeholder="Your new password again.." />
                </div>
            </Form>
        </div>
        <div class="bot">
            <button id="knap">Ændre kode</button>
        </div>
    </div>
</div>

