@using P3TournamentPlanner.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using P3TournamentPlanner.Client.Services;
@attribute [Authorize]
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject MessageService MessageService
@page "/changepassword"

<div class="placement">
    <div class="box">
        <div class="top">
            <h2>Reset Password</h2>
            <hr style=" color:white;" />
        </div>
        <div class="mid">
            <form>
                <div class="boxes">
                    <label>Current Password</label>
                    <input @bind="oldPass" class="inputs" type="password" name="oldPassword" placeholder="Your old password.." />
                </div>
                <div class="boxes">
                    <label> New Password</label>
                    <input @bind="newPass" class="inputs" type="password" name="newPassword" placeholder=" Your new password.." />
                </div>
                <div class="boxes">
                    <label> Confirm New Password</label>
                    <input @bind="confPass" class="inputs" type="password" name="confirmPassword" placeholder="Your new password again.." />
                </div>
            </form>
        </div>
        <div class="bot">
            <button id="knap" @onclick="ChangePassword">Ændre kode</button>
        </div>
    </div>
</div>
<div id="blazor-fejl-ui" style="display: @messageDisplay">
    @errorMessage
    <a class="dismiss" @onclick="() => showMessage(dontTouch, errorMessage)">🗙</a>
</div>

@code {
    List<string> data;

    string newPass = "";
    string oldPass = "";
    string confPass = "";

    string dontTouch = "none";

    string messageDisplay = "none";
    string errorMessage = "";

    void showMessage(string style, string message) {
        messageDisplay = style;
        errorMessage = message;
    }

    private async Task ChangePassword() {

        if(newPass == confPass) {
            showMessage("none", errorMessage);

            data = new List<string>();

            data.Add(newPass);
            data.Add(oldPass);

            var res = await Http.PostAsJsonAsync<List<string>>("api/User/changePassword", data);

            if(res.Content.ReadAsStringAsync().Result.Contains("An error occured:")) {
                Console.WriteLine("Error Triggered: " + res.Content.ReadAsStringAsync().Result);
                showMessage("block", res.Content.ReadAsStringAsync().Result);
            } else if (res.IsSuccessStatusCode) {
                Console.WriteLine("Password Changed!!");
                showMessage("block", "Password was changed successfully");
            } else {
                Console.WriteLine("Unexpected Error!");
                showMessage("block", res.Content.ReadAsStringAsync().Result);
            }

            Console.WriteLine(res);
        } else {
            Console.WriteLine("NewPass and ConfPass not the same!");
            showMessage("block", "\"New Password\" and \"Confirm New Password\" are not the same");
        }
    }

}

